/* ************************************************************************* */
/* Top level layout                                                          */
/* ************************************************************************* */
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
        "h"
        "p1"
        "p2";
    column-gap: 0.5em;
    row-gap: 0.5em;
}
#app-header {
    grid-area: h;
}
#page1 {
    grid-area: p1;
}
#page2 {
    grid-area: p2;
}

/* ************************************************************************* */
/* Page 1 Layout                                                             */
/* ************************************************************************* */
#page1 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
    row-gap: 0.5em;
    grid-template-areas: 
        "h h"
        "c f"
        "s f"
        "w w";
}
#page1header {
    grid-area: h;
}
#characteristics {
    grid-area: c;
}
#skills {
    grid-area: s;
}
#favors {
    grid-area: f;
}
#weapons {
    grid-area: w;
}

/* Page 1 - header Layout ************************************************** */
#page1header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page1header div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    align-items: center;
}

#page1header label {
    text-align: end;
}

/* Page 1 - Characteristics Layout ***************************************** */
#characteristics {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
.stat {
    grid-column: span 2;
    display: grid;
}
.stat input {
    grid-row: 1;
}
.stat label {
    grid-row: 2;
}
.condition {
    display: grid;
    grid-column: span 3;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.25rem;
    align-items: baseline;
    justify-items: center;
}
.condition .caption {
    grid-row: 1;
    grid-column: span 2;
}
.condition input {
    grid-row: 2;
}
.condition label {
    grid-row: 3;
}
#soak, #soak-lbl {
    grid-column: span 2;
}

/* ************************************************************************* */
/* Page 2 layout                                                             */
/* ************************************************************************* */
#page2 {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "mo cd"
        "eq cd"
        "nn ci"
        "sa sa";
}
#motivations {
    grid-area: mo;
}
#inventory {
    grid-area: eq;
}
#character-description {
    grid-area: cd;
}
#notes {
    grid-area: nn;
}
#critical-injuries {
    grid-area: ci;
}
#abilities {
    grid-area: sa;
}

/* Page 2 - motivations layout ********************************************* */
#motivations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
}
#motivations h2 {
    grid-column: span 2;
}
/* Page 2 - equipment layout *********************************************** */
#inventory table {
    width: 100%;
}
#inventory .name,
#inventory .description {
    text-align: start;
}
#inventory .quantity {
    width: 2rem;
    text-align: center;
}
#inventory tr > :last-child {
    width: 1rem;
    text-align: end;
}

/* Page 2 - character description layout *********************************** */
#character-description {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(8, auto) 1fr;
    column-gap: 0.25rem;
    align-items: center;
}
#character-description h2 {
    grid-column: span 2;
}
#character-description label[for="bio-features"] {
    grid-column: span 2;
    text-align: start;
}
#character-description textarea {
    grid-column: span 2;
    min-height: 100%;
}
#character-description label {
    text-align: end;
}
/* Page 2 - notes layout *************************************************** */
#notes {
    display: flex;
    flex-direction: column;
}
#notes-input {
    flex-grow: 1;
}

/* Page 2 - critical injuries layout *************************************** */
#critical-injuries table {
    width: 100%;
}
#critical-injuries tr > :first-child {
    width: 4rem;
}
#critical-injuries tr > :last-child {
    width: 1rem;
}

/* Page 2 - abilities layout *********************************************** */
#abilities table {
    width: 100%;
}
#abilities tr > :last-child {
    width: 1rem;
}

/* ************************************************************************* */
/* Modals that need layout                                                   */
/* ************************************************************************* */

/* Weapon Modal Layout ***************************************************** */
#modal-edit-weapon {
    grid-template-columns: auto auto;
    column-gap: 0.25rem;
    align-items: center;
}
#modal-edit-weapon h1, #modal-edit-weapon .horizontal-row {
    grid-column: span 2;
}
#modal-edit-weapon label {
    grid-column: 1;
    text-align: end;
}
#modal-edit-item {
    grid-template-columns: auto auto;
}
#modal-edit-item h1, #modal-edit-item .horizontal-row {
    grid-column: span 2;
}