/* ************************************************************************* */
/* Top level layout                                                          */
/* ************************************************************************* */
@media screen {
    #pages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }
    #page1, #page2, #page3 {
        margin: 0.25rem;
        flex-grow: 1;
    }
}

#page1header {
    grid-area: hh;
}
#characteristics {
    grid-area: cc;
}
#skills {
    grid-area: ss;
}
#favors {
    grid-area: ff;
}
#weapons {
    grid-area: ww;
}
#motivations {
    grid-area: mo;
}
#inventory {
    grid-area: eq;
}
#character-description {
    grid-area: cd;
}
#critical-injuries {
    grid-area: ci;
}
#abilities {
    grid-area: sa;
}
#obligations {
    grid-area: ob;
}
#page1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
    grid-template-areas: 
        "hh hh"
        "cc cc"
        "ss cd"
        "ww ci";
}
#page2 {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 
        "sa sa"
        "mo ff"
        "ob ff"
        "eq eq";
}
#page3 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Page 1 - header Layout ************************************************** */
#page1header {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    column-gap: 0.5rem;
}

#page1header label {
    text-align: end;
}

/* Page 1 - Characteristics Layout ***************************************** */
#characteristics {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#characteristics > * {
    gap: 0.5rem;
}
.stat {
    flex-grow: 1;
    display: grid;
    justify-items: center;
    width: 4rem;
}
.stat input {
    grid-row: 2;
    max-width: 4rem;
}
.stat label {
    grid-row: 1;
}
.condition {
    flex-grow: 1;
    width: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.25rem;
    align-items: baseline;
    justify-items: center;
}
.condition .caption {
    grid-row: 1;
    grid-column: span 2;
}
.condition input {
    grid-row: 2;
    max-width: 4rem;
}
.condition label {
    grid-row: 3;
}
#soak, #soak-lbl {
    grid-column: span 2;
}

/* Page 2 - motivations layout ********************************************* */
#motivations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
}
#motivations h2 {
    grid-column: span 2;
}
/* Page 2 - equipment layout *********************************************** */
#inventory table {
    width: 100%;
}
#inventory .name,
#inventory .description {
    text-align: start;
}
#inventory .quantity {
    width: 2rem;
    text-align: center;
}
#inventory tr > :last-child {
    width: 1rem;
    text-align: end;
}

/* Page 2 - character description layout *********************************** */
#character-description {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(8, auto) 1fr;
    column-gap: 0.25rem;
    align-items: center;
}
#character-description h2 {
    grid-column: span 2;
}
#character-description textarea {
    height: 1.6em;
    align-self: stretch;
}
#character-description #bio-features {
    height: unset;
}
#character-description label {
    text-align: end;
}
/* Page 2 - notes layout *************************************************** */
#notes {
    display: flex;
    flex-direction: column;
}
#notes-input {
    flex-grow: 1;
}

/* Page 2 - critical injuries layout *************************************** */
#critical-injuries table {
    width: 100%;
}
#critical-injuries tr > :first-child {
    width: 4rem;
}
#critical-injuries tr > :last-child {
    width: 1rem;
}

/* Page 2 - abilities layout *********************************************** */
#abilities table {
    width: 100%;
}
#abilities tr > :last-child {
    width: 1rem;
}

/* Page 3 ****************************************************************** */
/*#page3 {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}*/

/* ************************************************************************* */
/* Modals that need layout                                                   */
/* ************************************************************************* */
.modal-edit-weapon label {
    text-align: end;
}