@import '/css/normalize.css';

body {
    --cp-90: #ffeaa4;
    --cp-70: #ffde70;
    --cp-50: #ffc300;
    --cp-30: #d9a600;
    --cp-10: #a78000;
    --ca1-90: #abd6ff;
    --ca1-70: #7bbeff;
    --ca1-50: #138bff;
    --ca1-30: #00488d;
    --ca1-10: #00376d;
    --ca2-90: #ffc1a4;
    --ca2-70: #ff9f70;
    --ca2-50: #ff5300;
    --ca2-30: #d94600;
    --ca2-10: #a73600;
    background-color: whitesmoke;
}

/* ******************************************************
Common bits
****************************************************** */
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5rem;
}

hr {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

h1,h2,h3 {
    font-weight: bold;
    text-align: center;
    margin: 0;
}
h1 {
    font-size: medium;
}
h2,h3 {
    font-size: small;
}
ul {
    margin: 0;
    font-size: small;
    padding-left: 1.5em;
    list-style-position: outside;
}

/* ******************************************************
Inputs
****************************************************** */
label{
	margin:0;
	padding:0px;
	display:block;
}
input[type=text], 
input[type=number],
textarea, 
select{
    font: inherit;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 2px;
	margin:0px;
    width: 100%;
	outline: none;	
}
input[type=text]:focus, 
input[type=number]:focus,
textarea:focus, 
select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
textarea {
    resize: none;
	height: 100px;
}
textarea.growable {
    overflow-y: hidden;
    min-height: 0;
}
@media only print {
    input[type=text],input[type=number] {
        border: none;
        -moz-appearance: textfield;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile:focus + label {
    background-color:#7a7a7a;
}
.inputfile:active + label {
    background-color:#999999;
}


/* ******************************************************
Buttons
****************************************************** */
input[type=submit], input[type=button],
button, .button {
	background: var(--ca1-50);
	padding: 2px 4px 2px 4px;
	border: none;
    width: fit-content;
	color: #fff;
}
input[type=submit]:hover, 
input[type=button]:hover,
button:hover, 
.button:hover,
input[type=submit]:focus, 
input[type=button]:focus,
button:focus,
.button:focus {
	background: var(--ca1-30);
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.edit {
    font-size: small;
    padding: 0rem;
    margin: 0;
}
@media only print {
    button, .button {
        display: none;
    }
}

/* ******************************************************
Tables
****************************************************** */

table {
    font-size: small;
    /* table-layout: fixed; */
    border-collapse: collapse;
}
tr > * {
    text-align: center;
}
tr > *:first-child {
    text-align: start;
}
tr > *:last-child {
    text-align: end;
}
tbody tr {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

/* ******************************************************
Modal
****************************************************** */

.modal {
    z-index: 110;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4in;
    max-width: 100%;
    background-color: white;
    display: grid;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
}
.closed {
    display: none;
}
.modal-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}