html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5rem;
}

hr {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

small {
    font-size: x-small;
}

label {
    font-size: small;
}

h1 {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
h2 {
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
h3 {
    font-size: small;
    margin: 0;
}
ul {
    margin: 0;
    font-size: small;
    padding-left: 1.5em;
    list-style-position: outside;
}
table {
    font-size: small;
    /* table-layout: fixed; */
    border-collapse: collapse;
}
tr > * {
    text-align: center;
}
tr > *:first-child {
    text-align: start;
}
tr > *:last-child {
    text-align: end;
}
tbody tr {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

/* ************************************************************************* */
/* Input styling                                                             */
/* ************************************************************************* */

button, .button {
    display:inline-block;
    padding:0.35rem;
    margin:0.1rem;
    border: none;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
    cursor: pointer;
}
button:hover, .button:hover {
    background-color:#999999;
}
button:active, .button:active {
    background-color:#7a7a7a;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile:focus + label {
    background-color:#7a7a7a;
}
.inputfile:active + label {
    background-color:#999999;
}

button.edit {
    font-size: small;
    padding: 0rem;
    margin: 0;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

input {
    box-sizing: border-box;
    border: .1rem solid #ddd;
    border-radius: 0.3rem;
}

select {
    box-sizing: border-box;
    min-width: 100%;
}

input[type=text] {
    padding: 0.1rem;
}

input[type=number] {
    width: 100%;
}

@media only print {
    /* Buttons are always user interactions, so they should be hidden */
    button, .button {
        display: none;
    }

    input {
        border: none;
        -moz-appearance: textfield;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}