/* Shared Styles */

.sheet {
    max-width: 8in;
}

.horizontal-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#skills, #favors, #weapons, .modal, header,
#condition div, #characteristics div, #app-header,
#motivations {
    border: 0.2rem solid orange;
    border-radius: 0.75rem;
    padding: 0.25rem;
}

/* Header styles */
@media not print {
    #page1header input[type=text] {
        width: 10rem;
    }
    #page1header input[type=number] {
        width: 3.5rem;
    }
}

/* Condition Styles */

.condition .caption {
    font-size: medium;
}
.condition input {
    text-align: center;
}
.condition label {
    font-size: x-small;
}

/* Characteristic Styles */

#characteristics > .stat {
    text-align: center;
}

.stat input {
    font-size: large;
    text-align: center;
}

/* Skill Styles*/
#skills {
    display: grid;
    column-gap: 0.25rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
#skills input[type="checkbox"] {
    width: 12px;
    height: 12px;
}
#skills .th-rank {
    width: 62px;
}

#skills h2 {
    grid-column: span 2;
}

/* Favor styles*/
#favors {
    display: flex;
    flex-direction: column;
}
#favors > div {
    flex-grow: 1;
    align-items: flex-start;
}
.favor > * {
    display: flex;
    justify-content: space-between;
}

/* Weapon styles*/
#weapons table {
    min-width: 100%;
}

/* Motivation styling */
#motivations textarea {
    font-size: small;
    resize: vertical;
}

/* Modal styling */
.modal {
    z-index: 110;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4in;
    max-width: 100%;
    background-color: white;
    display: grid;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
}
.closed {
    display: none;
}
.modal-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}