/* Shared Styles */
#app-header {
    box-sizing: border-box;
    position: sticky;
    top: 0.5rem;
}

#pages {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

textarea {
    font-size: small;
}

@media screen { 
    .sheet {
        width: 7in;
    }   
}

.horizontal-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caption {
    font-size: medium;
}

#skills, #favors, #weapons, .modal, #page1header,
.condition, .stat, #app-header,
#motivations, #inventory, #character-description,
#notes, #critical-injuries, #abilities, #app-footer {
    background: white;
    border: 0.2rem solid var(--cp-50);
    border-radius: 0.75rem;
    padding: 0.25rem;
}

/* Header styles */
#page1header input[type=text] {
    width: 10rem;
}
#page1header input[type=number] {
    width: 3.5rem;
}

/* Condition Styles */

.condition input {
    text-align: center;
}
.condition label {
    font-size: x-small;
}

/* Characteristic Styles */

.stat {
    text-align: center;
    font-size: medium;
}

.stat input {
    font-size: large;
    text-align: center;
}

/* Skill Styles*/
#skills {
    display: grid;
    column-gap: 0.25rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
#skills skill-display {
    font-size: small;
    margin-bottom: 0.2rem;
}

#skills h2 {
    grid-column: span 2;
}

#skills .sh {
    font-weight: bold;
    font-size: small;
    margin-bottom: 0.15rem;
    display: flex;
    gap: 0.2em;
}
#skills .sh span {
    flex-grow: 1;
    text-align: right;
}

/* Favor styles*/
#favors {
    display: flex;
    flex-direction: column;
}
#favors > div {
    flex-grow: 1;
    align-items: flex-start;
}
.favor > * {
    display: flex;
    justify-content: space-between;
}

/* Weapon styles*/
#weapons table {
    min-width: 100%;
}

/* Character Description Styling*/
#character-description input {
    font-size: small;
}

#motivations div {
    display: flex;
    flex-direction: column;
}
#motivations textarea {
    flex-grow: 1;
}