@import 'open-props/style';
@import 'open-props/normalize';

body {
    --cp-90: #ffeaa4;
    --cp-70: #ffde70;
    --cp-50: #ffc300;
    --cp-30: #d9a600;
    --cp-10: #a78000;
    --ca1-90: #abd6ff;
    --ca1-70: #7bbeff;
    --ca1-50: #138bff;
    --ca1-30: #00488d;
    --ca1-10: #00376d;
    --ca2-90: #ffc1a4;
    --ca2-70: #ff9f70;
    --ca2-50: #ff5300;
    --ca2-30: #d94600;
    --ca2-10: #a73600;
    --cg-90: #f5f5f5;
    --cg-70: #dddddd;
    --cg-50: #888888;
}

/* ******************************************************
Common bits
****************************************************** */
html {
    padding: 0.25rem;
}

hr {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

h1,h2,h3 {
    font-weight: bold;
    text-align: center;
    margin: 0;
}
h1, h2 {
    font-size: medium;
}
h2 {
    /* display: inline-block; */
}
h3 {
    font-size: small;
}
ul {
    margin: 0;
    font-size: small;
    padding-left: 1.5em;
    list-style-position: outside;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

/* ******************************************************
Inputs
****************************************************** */
input[type=checkbox] {
    flex-grow: 0;
    justify-self: start;
}
input[type=text], 
input[type=number],
textarea, 
select{
    width: 100%;
}
textarea {
    resize: none;
	height: 60px;
}
textarea.growable {
    overflow-y: hidden;
    min-height: 0;
}
@media only print {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}


/* ******************************************************
Buttons
****************************************************** */
input[type=submit], input[type=button],
button, .button {
	background: var(--ca1-50);
	padding: 2px 4px 2px 4px;
	border: none;
    width: fit-content;
	color: #fff;
}
input[type=submit]:hover, 
input[type=button]:hover,
button:hover, 
.button:hover,
input[type=submit]:focus, 
input[type=button]:focus,
button:focus,
.button:focus {
	background: var(--ca1-30);
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.edit {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 1.15em;
    height: 1.15em;
    text-align: center;
}
@media print {
    .edit {
        display: none !important;
    }
    button, .button {
        display: none !important;
    }
}

/* ******************************************************
Tables
****************************************************** */

table {
    font-size: small;
    /* table-layout: fixed; */
    border-collapse: collapse;
}
tr > * {
    text-align: center;
}
tr > *:first-child {
    text-align: start;
}
tr > *:last-child {
    text-align: end;
}
tbody tr {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}