html {
    scroll-padding-top: 1.15rem;
}

list-editor {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* Shared Styles */
textarea {
    font-size: small;
}

.horizontal-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.horizontal-row>input {
    width: 5rem;
    flex-grow: 1;
}
.horizontal-row>input[type="number"] {
    width: 2rem;
}

.block-with-title>:last-child {
    background: var(--surface-2);
    border: 0.25rem solid var(--orange-5);
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    padding: 0.25rem;
}
.block-with-title>:last-child:empty {
    display: none;
}
.block-with-title>:first-child {
    color: var(--gray-9);
    background: var(--orange-5);
    padding: 0.25rem;
    margin-bottom: -0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    max-width: fit-content;
    text-align: start;
}

#skills, #favors, #page1header {
    background: var(--surface-2);
    border: 0.25rem solid var(--orange-5);
    border-radius: 0.25rem;
    padding: 0.25rem;
}
#page1header {
    align-items: center;
}
#page1header input[type=number] {
    text-align: center;
    width: 3.5rem;
}
#page1header textarea {
    font-size: medium;
    height: 1.3em;
}

.two-column-grid {
    display: grid;
    align-items: center;
    gap: 0.5rem;
    grid-template-columns: auto auto;
}
.two-column-grid > * {
    text-align: start;
}

/* Condition Styles */
.condition, .stat {
    background: var(--orange-5);
    color: var(--gray-9);
    border-radius: var(--radius-3);
    padding: var(--size-2);
    padding-top: var(--size-0);
}
.condition {
    padding-bottom: var(--size-0);
}
.condition .caption, #soak-lbl {
    font-size: small;
    font-weight: bold;
    text-align: center;
}
.condition input {
    color: var(--text-2);
    font-size: var(--font-size-4);
    border-radius: 0;
    font-weight: bold;
    text-align: center;
}
.condition input:first-of-type {
    border-start-start-radius: var(--radius-3);
    border-end-start-radius: var(--radius-3);
}
.condition input:last-of-type {
    border-start-end-radius: var(--radius-3);
    border-end-end-radius: var(--radius-3);
}
#soak {
    justify-self: center;
}
.condition label, #soak-caption {
    font-size: x-small;
    text-align: center;
}

/* Characteristic Styles */
.stat {
    text-align: center;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-7);
}

.stat input {
    color: var(--text-2);
    font-size: var(--font-size-6);
    line-height: var(--font-lineheight-0);
    border-radius: var(--radius-3);
    text-align: center;
    align-self: center;
}

#inventory>h2 label {
    font-size: small;
}
#encumbrance, #encumbrance-threshold {
    color: var(--text-2);
    width: 3rem;
}

/* Skill Styles*/
#skills {
    display: grid;
    column-gap: 0.25rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
#skills skill-display, #skills .sh {
    border-top: 1px solid black;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
#skills .sh:first-child {
    border-top: none;
}

#skills .sh {
    font-weight: bold;
    display: flex;
    gap: 0.2em;
}

/* Weapon styles*/
#weapons table {
    min-width: 100%;
}

/* Character Description Styling*/
#character-description input {
    font-size: small;
}

@media print {
    .sheet {
        page-break-after: always;
    }
    .sheet:last-child {
        page-break-after: avoid;
    }
}