/* Shared Styles */
textarea {
    font-size: small;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 0.5rem;
}
.even-columns>:last-child {
    text-align: end;
}

.horizontal-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.5rem;
}
.horizontal-row>input {
    width: 5rem;
    flex-grow: 1;
}
.horizontal-row>input[type="number"] {
    width: 2rem;
}

#skills, #favors, #weapons, .modal, #page1header,
#motivations, #inventory, #character-description,
#notes, #critical-injuries, #abilities, #obligations {
    background: white;
    border: 0.25rem solid var(--cp-50);
    border-radius: 0.25rem;
    padding: 0.25rem;
}
#page1header {
    align-items: center;
}
#page1header input[type=number] {
    text-align: center;
    width: 3.5rem;
}
#page1header textarea {
    font-size: medium;
    height: 1.3em;
}

.two-column-grid {
    display: grid;
    align-items: center;
    gap: 0.5rem;
    grid-template-columns: auto auto;
}
.two-column-grid > * {
    text-align: start;
}

/* Condition Styles */
.condition .caption, #soak-lbl {
    font-size: small;
    font-weight: bold;
}
.condition input {
    font-size: 1.5rem;
    max-width: 4rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
}
.condition input:first-of-type {
    border-start-start-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
    justify-self: end;
}
.condition input:last-of-type {
    border-start-end-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
    justify-self: start;
}
#soak {
    justify-self: center;
}
.condition label, #soak-caption {
    font-size: x-small;
}

/* Characteristic Styles */
.condition, .stat {
    background: var(--cp-50);
    border-radius: 1rem;
    padding: 0.25rem;
}
.stat {
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.stat input {
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    text-align: center;
}

/* Skill Styles*/
#skills {
    display: grid;
    column-gap: 0.25rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
#skills skill-display, #skills .sh {
    border-top: 1px solid black;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
#skills .sh:first-child {
    border-top: none;
}

#skills .sh {
    font-weight: bold;
    display: flex;
    gap: 0.2em;
}

/* Favor styles*/
#favors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
}
#favors > h2 {
    grid-row: 1;
}
#favors > div {
    grid-row: 2;
}

/* Weapon styles*/
#weapons table {
    min-width: 100%;
}

/* Character Description Styling*/
#character-description input {
    font-size: small;
}

@media print {
    .sheet {
        page-break-after: always;
    }
    .sheet:last-child {
        page-break-after: avoid;
    }
}

/* obligations styling*/
#obligation-total {
    width: 3.5em;
}
#obligations label {
    font-size: small;
}