/* Shared Styles */
textarea {
    font-size: small;
}

@media screen { 
    .sheet {
        width: 7in;
    }   
}

.horizontal-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.5rem;
}
.horizontal-row>input {
    width: 5rem;
    flex-grow: 1;
}
.horizontal-row>input[type="number"] {
    width: 2rem;
}

.caption {
    font-size: medium;
}

#skills, #favors, #weapons, .modal, #page1header,
.condition, .stat,
#motivations, #inventory, #character-description,
#notes, #critical-injuries, #abilities, #obligations {
    background: white;
    border: 0.2rem solid var(--cp-50);
    border-radius: 0.75rem;
    padding: 0.25rem;
}
#page1header {
    align-items: center;
}
#page1header input[type=number] {
    text-align: center;
    width: 3.5rem;
}
#page1header textarea {
    font-size: medium;
    height: 1.3em;
}

.two-column-grid {
    display: grid;
    align-items: center;
    gap: 0.5rem;
    grid-template-columns: auto auto;
}
.two-column-grid > * {
    text-align: start;
}

/* Condition Styles */

.condition input {
    font-size: 1.5rem;
    text-align: center;
}
.condition label, #soak-caption {
    font-size: x-small;
}

/* Characteristic Styles */

.stat {
    text-align: center;
    font-size: medium;
}

.stat input {
    font-size: 1.5rem;
    text-align: center;
}

/* Skill Styles*/
#skills {
    display: grid;
    column-gap: 0.25rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}
#skills skill-display, #skills .sh {
    border-top: 1px solid black;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
#skills .sh:first-child {
    border-top: none;
}

#skills .sh {
    font-weight: bold;
    display: flex;
    gap: 0.2em;
}

/* Favor styles*/
#favors {
    display: flex;
    flex-direction: column;
}
#favors > div {
    flex-grow: 1;
    align-items: flex-start;
}
.favor > * {
    display: flex;
    justify-content: space-between;
}

/* Weapon styles*/
#weapons table {
    min-width: 100%;
}

/* Character Description Styling*/
#character-description input {
    font-size: small;
}

@media print {
    .sheet {
        page-break-after: always;
    }
    .sheet:last-child {
        page-break-after: avoid;
    }
}

/* obligations styling*/
#obligation-total {
    width: 3.5em;
}
#obligations label {
    font-size: small;
}
#obligation-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

/* motivations styling*/
#motivation-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}